.main-chat
  .main-chat__header
    .main-shat__header__test
      test
      .main-shat__header__test__2
        Membbr: masa
    .main-shat__header__edit
      Edit
  .main-chat__screen
    .main-chat__screen__box
      .main-chat__screen__box__name
        name
      .main-chat__screen__box__number
        2020/05/13(wed)21:03:56
    .main-chat__screen__message
      おはよう！

    .main-chat__screen2__box
      .main-chat__screen2__box__name
        name
      .main-chat__screen2__box__number
        2020/05/13(wed)21:03:59
    .main-chat__screen2__message
      おはよう！
  .main-chat__footer
    .main-chat__footer__box
      .main-chat__footer__box__bar
        .main-chat__footer__box__bar__text
          %input{type: "text", placeholder: "type a message", class: "text-box"}

        .main-chat__footer__box__bar__image
          %label{class: "input-box__image"}
            = icon('fa', 'image', class: "main-chat__footer__box__button")
            .file
              %input{type: "file", class: "file2"}
         

      .submit-btn
        Send
        -# %input{type: "submit", class: ".submit-btn"}