    
.side-bar
  .side-bar__header
    .side-ber__box__list
      .side-ber__box__list__name
        mane
      .side-ber__box__list__logo
        = link_to "" do
          = icon('fa', 'edit', class: "side-ber__box__list__logo__1")
          = icon('fa', 'cog',class: "side-ber__box__list__logo__2")
  
     
  .side-bar__box
    .side-bar__box__post
      .side-bar__box__post__title
        tecamp
      .side-bar__box__post__message
        まだメッセージがありません
  
 