    
.chast-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        .side-header__box__meun__new-group
          = link_to "/groups/new" do
            .fa.fa-edit
        .side-header__box__menu__edit-user
          = link_to "/users/23551/edit"
          .groups